// App.vue

.settings {

  .btn-group {
    margin: 1rem 0;

    .btn {
      margin-right: 1rem;
    }
  }
}

.draggable {
  background-color: $list-bg-color;
  margin-top: 1rem;

  .list-group-item,
  .list-group-item:last-child {
    margin: 1rem .5rem;
    cursor: pointer;

    &:hover {
      background-color: $list-bg-color-hover;
      cursor: grab
    }
  }

  .grid-row {
    margin-left: 15px;
  }

  .close {
    float: right;
    margin: 0.2em 0.5em 0 0.2em;
    padding: 0 0.2em 0 0.2em;
    cursor: pointer;
  }
}

#newgrid .modal-body img {
  margin: 1rem 0;
  width: 9rem;
}

.position {
  border: 0.1em solid;
}

.icon-cancel:before {
  font-size: xx-large;
}