/**
 * Apodis stylesheet to display elements created by pagebuilder
 */

body {
  background-color: #aac1db;
}

.column {
  min-height: 5rem;
  border: 1px solid rgb(172, 172, 172);
  background-color: white;
}
